.number-button {
  display: flex;
  font-size: 2em;
  height: 25vw;
  width: 25vw;
  background-color: #8645ef;
  color: white;
  align-items: center;
  justify-content: center;
}

.number-button:active {
  background-color: #472eba;
}
